@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "Open sans";
    font-style: normal;
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 ,h2, h3, h4 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #282A36 !important;
}

p {
    font-family: "Open sans", sans-serif;
}